.header{
    background-color: rgb(255 255 175 / 47%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.9rem;

    .logo{
        font-family: "Caveat", cursive;
        cursor: pointer;
    }
}
.nav-items,.nav-action{
     
    span, i{
        padding: 0 15px;
        cursor: pointer;
        font-size: 1.20rem;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

}
form{
    background: gray;
    border-radius: 25px;
    position: relative;
}
input{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 25px;
    font-size: 20px;
    padding: 8px 40px 8px 20px;
    border: none;
    box-shadow: 0 5px 8px 3px grey;
}
input:focus{
    outline: none;
}
button{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 18px;
}
button i{
    color: rgba(93,94,95);
}


.profile{
    width: 250px;
    height: 252px;
    background-color: #fbfbfb;
    position: absolute;
    right: 10px;
    top: 50px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 4px 9px -1px #261c1c;
}