<div class="header">
  <div class="nav">
    <div class="logo">
        <h1>FASHION</h1>
    </div>
    <div class="nav-items">
      <span>Women</span>
      <span>Men</span>
      <span>Kids</span>
      <span>Sports</span>
      <span>Brands</span>
    </div>
    <form><input type="text" placeholder="Search...">
      <button type="submit"><i class="ri-search-line" aria-hidden="true"></i></button>
    </form>
    <div class="nav-action">
        <i class="ri-user-line login-btn" id="login-btn"></i>
        <i class="ri-shopping-bag-line"></i>
        <i class="ri-moon-line"></i>
    </div>
 </div>
</div>