    <div class="row">
        <img src="../../assets/{{productInfo.imgName}}.avif" alt=""> <br>
        <span>{{productInfo.name}}</span> <br>
        <span>₹{{productInfo.price}}</span>
        <div class="rating">
          <span *ngFor="let item of [].constructor (productInfo.rating)">
            <i class="ri-star-fill"></i>
          </span>
          <span *ngFor="let item of [].constructor (5-productInfo.rating)">
            <i class="ri-star-line"></i>
          </span>
        </div>
        <div class="w-button">
          <button class="btn" (click)="addToCart(productInfo)">Add to cart</button>
          <button class="btn-2" (click)="addToWishlist(productInfo)"><i class="ri-heart-3-line"></i></button>
        </div>
      </div>
