<div class="cover">
  <div class="col-1">
    <div class="part-1">
     <h1>2018 NEW</h1>
     <h1 class="heading">SPRING</h1>
     <span class="small">Men's Fashion</span> <br>
     <span>New Stylish Shirts, Pants <br>and Many More..</span> <br><br>
     <button class="btn">Shop Now &#8594;</button>
    </div>
    <div class="part-2">
     <img class="home-img" src="../../assets/photo-01.png" alt="">
    </div>
  </div>
  <div class="col-2">
    <div>
     <img src="../../assets/photo-03.png" alt="">
    </div>
    <div>
     <h1>Men's <br> - Watches</h1> <br>
     <button class="btn">Shop Now &#8594;</button>
    </div>
  </div>
  <div class="col-3">
    <div class="row-1">
     <div class="section-1">
     <h1>Sport Collection <br> - Shoes</h1> 
     <button class="btn">Shop Now &#8594;</button>
     </div>
     <div class="section-2">
        <img src="../../assets/photo-06.jpeg" alt="">
       </div>
    </div>
    <div class="row-2">
        <div class="section-3">
        <h1>Diamond <br> -  Rings</h1> 
        <button class="btn">Shop Now &#8594;</button>
        </div>
        <div class="section-4">
           <img src="../../assets/photo-05.jpeg" alt="">
          </div>
       </div>
  </div>
</div>